<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" id="delete-form-{{ article.id }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('delete-form-{{ article.id }}')">
        Supprimer
    </button>
</form>