{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau message</h1>
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}