{% extends 'base.html.twig' %}

{% block title %}New ContactMessage{% endblock %}

{% block body %}
    <h1>Create new ContactMessage</h1>

    {{ include('contact/_form.html.twig') }}

{% endblock %}
